body {
    font-family: Arial;
}

#mainImg {
    width: 35%;
}

.box {
    border: .25px solid black;
    background-color: lightgray;
    width: 200px;
    padding: 1rem;
}

.boxLink{
    text-decoration: none;
}

#description {
    background-color: antiquewhite;
}