H1{
    color: orange;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    /* font-family: League spartan; */
    text-transform: lowercase;
    text-decoration: teal double underline;
    line-height: 1.5;
}